# Ignore virtual environment
venv/
.venv/
python_env/
__pycache__/
__pycache__/

# Ignore the .pyc
*.pyc
*.pyo

# Ignore folders
augmented_data/
files/augmented_data/
files/augmented_data_nested/
files/imputed/
files/original_absolute/
files/uploads/
imputed/
uploads/
original_absolute/
model/pentab_vae_models/
model/original_absolute/
