<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawing Canvas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="label-container">
            <img id="logo" src="../../icon/green logo.png" alt="Shift Correction Beta VAE-GAN Logo">
            <p class="message">Draw or Handwrite something</p>
        </div>
        <canvas id="drawingCanvas" width="800" height="600"></canvas>
        <div class="controls-container">
            <div class="controls">
                <button class="normal-button" id="downloadButton">Download SVC</button>
                <button class="normal-button" id="resetButton">Clear Drawing</button>
                <button id="doneButton">Done</button>
            </div>
            <div class="hide-checkbox-container">
                <label for="hideInAirCheckbox" class="hide-checkbox-label">
                    Hide in-air drawings
                    <input type="checkbox" id="hideInAirCheckbox">
                </label>
            </div>
        </div>
    <script src="Canvas.js"></script>
</div>
</body>
</html>
